/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity var(--transition-speed) ease;
  overflow-x: hidden;
  position: relative;
}

.mounted {
  opacity: 1;
}
